div 
{
	/*
		For the rounded corners
	*/
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	
	/*
		Borders
	*/
	border-left: 6px solid #1c71bc;
	border-bottom: 6px solid #1c71bc;
	border-right: 6px solid #1c71bc;
	
	/*
		Text formattingin the div
	*/
	text-align:center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #e8ecef;
	width: 300px;
	margin-left: -150px;
}

.centerdiv
{
	position: fixed;
	top: 15%;
	left: 50%;
}

body
{
	background-color: #3891e0;
}

input[type=email] , input[type=password]
{
	border-radius: 5px;
	background-color: #d5e0e8;
	margin: 1px ;
	padding: 6px 6px;
	border-width: top right bottom left;
	border-style: solid ;
	border-color: #5b7f99 ;

}


input[type=submit] 
{
	padding: 4px 20px;
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 5px;
	border-style: solid ;
	border-color: #0ea50b ;
	background-color: #28e25d;
	color: #e8ecef;
	font-weight: bold;
}

input[type=button]
{
	text-decoration: none;
	padding: 4px 20px;
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 5px;
	border-style: solid ;
	border-color: #2f68c4 ;
	background-color: #4d8ff9;
	color: #e8ecef;
	font-weight: bold;
}

p
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #464e54;
}